
//-------------------------------------------
// Warpy bootstrap configuration for Bpipe
//
// - defines BASE variable for other configs to use
// - sets classpath for use within other configs
//-------------------------------------------

// Base is the parent directory of the src folder
BASE=new File(scriptPath).parentFile.parentFile.canonicalPath

parameters {
  setProperty('BASE',BASE)
}

environments {

    ont_server {
        libs=[
            "$BASE/classes",
            "$BASE/lib/groovy-ngs-utils.jar",
        ]

        parameters {
            container_engine = "docker"
        }

        custom_storage_mounts = []
    }

 
    mac_dev {
        libs=[
            "$BASE/classes",
            "$BASE/lib/groovy-ngs-utils.jar",
            "$BASE/lib/archie-common-all.jar",
        ]


        parameters {
            container_engine = "docker"
        }

        custom_storage_mounts = []
    }

    mcri_test {
        ARCHIE_HOME="/hpc/bpipeLibrary/shared/archie-test"

        parameters {
            setProperty('container_engine', 'singularity')
            setProperty('ARCHIE_HOME', ARCHIE_HOME)
        }

        libs=[
            "$BASE/classes",
            "$BASE/lib/groovy-ngs-utils.jar",
            "$ARCHIE_HOME/archie-common/build/libs/archie-common-all.jar"
        ]
    }

    mcri_prod {
        ARCHIE_HOME="/hpc/bpipeLibrary/shared/archie"

        parameters {
            setProperty('container_engine', 'singularity')
            setProperty('ARCHIE_HOME', ARCHIE_HOME)
        }

        libs=[
            "$BASE/classes",
            "$BASE/lib/groovy-ngs-utils.jar",
            "$ARCHIE_HOME/archie-common/build/libs/archie-common-all.jar"
        ]
    }
    
    mcri_dev {
        ARCHIE_HOME="/hpc/bpipeLibrary/shared/archie-test"

        parameters {
            setProperty('container_engine', 'singularity')
            setProperty('ARCHIE_HOME', ARCHIE_HOME)
        }

        libs=[
            "$BASE/classes",
            "$BASE/lib/groovy-ngs-utils.jar",
            "$ARCHIE_HOME/archie-common/build/libs/archie-common-all.jar"
        ]
    }
}

if(bpipe.Config.config.environment == 'default')
    throw new bpipe.PipelineError("No environment selected. Please select an environment from the bpipe.bootstrap.config file using --env")